
@{
    ViewBag.Title = "ApplicationError";
}

<div class="jumbotron" style="background-color:beige">
    <h2><strong>Some problem occured</strong></h2>
    <span class="col-lg-12" style="color:darkblue">
        An error in application occured while processing your request.
    </span>
</div>

