
@{
    ViewBag.Title = "HttpError";
}

<div class="jumbotron" style="background-color:aliceblue">
    <h2><strong>A request error occured</strong></h2>
    <span class="col-lg-12" style="color:darkblue">
        An error occured while processing your http request.
    </span>
</div>

