@{
    ViewBag.Title = "ApplicationError";
}

<div class="jumbotron" style="background-color:cornsilk">
    <h2><strong>A problem occured</strong></h2>
    <span class="col-lg-12" style="color:darkblue">
        An http error occured while processing your request.
    </span>
</div>


