@model ApplicationRepository.Models.User

@{
    ViewBag.Title = "Delete";
}

<h4>Delete user @Model.Login</h4>

@Html.Partial("_UserInfoPartial")

<div>
    @using (Html.BeginForm("Delete", "Profile", FormMethod.Post))
    {
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
