@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET MVC Fundamentals Homework #3</p>
    @Html.ActionLink("Users", "Index", "Profile")
</div>